{:paths   ["src"]
 :deps    {metosin/malli              {:mvn/version "0.17.0"}
           com.taoensso/trove         {:mvn/version "1.1.0"}
           funcool/promesa            {:mvn/version "12.0.0-RC2"}
           com.fulcrologic/guardrails {:mvn/version "1.2.16"}
           org.babashka/http-client   {:mvn/version "0.4.23"}
           org.babashka/json          {:mvn/version "0.1.6"}}

 :aliases {:kaocha
           {:extra-paths ["test"]
            :extra-deps  {lambdaisland/kaocha       {:local/root                  "/home/ramblurr/src/github.com/lambdaisland/kaocha"
                                                     #_#_:mvn/version "1.91.1392"}
                          kaocha-retry/kaocha-retry {:mvn/version "0.4.0"}}
            :main-opts   ["-m" "kaocha.runner"]}

           :dev
           {:extra-paths ["dev"]
            :jvm-opts    ["-Dguardrails.enabled=true"]

            :extra-deps  {dev.weavejester/hashp                    {:mvn/version "0.5.1"}
                          io.github.tonsky/clj-reload              {:mvn/version "1.0.0"}
                          com.cnuernber/charred                    {:mvn/version "1.037"}
                          djblue/portal                            {:mvn/version "0.62.1"}
                          com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.6.2"}}}

           :cljs-test
           {:extra-paths ["test"]
            :extra-deps  {org.clojure/clojurescript {:mvn/version "1.11.132"}
                          funcool/promesa           {:mvn/version "12.0.0-RC2"}}}

           :build
           {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.11"
                                                        :git/sha "c6c670a"}
                         slipset/deps-deploy           {:mvn/version "0.2.2"}}
            :ns-default build}
           :neil
           {:project {:name        com.outskirtslabs/TODO
                      :license     {:id "TODO"}
                      :description ""
                      :version     "0.0.TODO"}}}}
