{:deps
 {:aliases [:dev]}
 :build-defaults
 {:compiler-options
  {:external-config                    {:guardrails {:throw? true}}
   :output-feature-set                 :es2020
   :output-wrapper                     false
   :source-map                         true
   :source-map-include-sources-content true
   :source-map-detail-level            :all
   :warnings                           {:fn-deprecated false}}}
 :builds
 {:kaocha-test
  {:target     :node-test
   :output-to  "target/kaocha-tests.js"
   :output-dir "target/kaocha-test/"
   :ns-regexp  "^(?!ol\\.llx\\..*\\.live\\.).*-test$"
   :main       ol.llx.cljs-test-runner/main
   :autorun    false}

  :kaocha-test-live
  {:target     :node-test
   :output-to  "target/kaocha-tests-live.js"
   :output-dir "target/kaocha-test-live/"
   :ns-regexp  "^ol\\.llx\\..*\\.live\\..*-test$"
   :main       ol.llx.cljs-test-runner/main
   :autorun    false}}}
